.aside-wrapper {
  position: relative;
  box-sizing: border-box;
  width: 60px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  height: 100vh;
  border-right: 1px solid rgba(59, 76, 104, 0.15);
  z-index: 1400;
}