:root {
  --pure-black: #000;
  --pure-white: #fff;
  --main-text-color: #1b243f;
  --main-bg: linear-gradient(158deg,
      rgba(219, 219, 219, 1) 0%,
      rgba(242, 242, 242, 1) 50%,
      rgba(221, 218, 208, 1) 100%);
}

html {
  background: var(--main-bg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0 auto;
}