.main {
  display: flex;
  justify-content: center;
  background: rgb(245, 247, 248);
}

.wrapper {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  padding: 2%;
}

.wrapper {
  padding: 1%;
}

.banner {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
  padding-top: 25%;
  width: 100%;
}

.banner-info {
  max-width: 50%;
  padding-left: 80px;
}

.banner-img {
  width: 50%;
}

.wrap {
  margin: 0;
  padding: 0;
  display: block;
  min-height: 70px;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  border: 1px solid rgb(242, 59, 128);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  color: rgb(242, 59, 128);
  transition: background-color 0.6s ease-in-out;
}

.banner .tagline:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgb(242, 59, 128);
  border: 1px solid white;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  min-height: 50px;
  font-family: Roboto;
  /* min-width: 300px; */
}

.earth {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.banner p {
  /* background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  ); */
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 90%;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1020px) {
  .banner {
    padding: 0;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .banner-img {
    width: 100%;
  }

  .banner-info {
    padding: 0;
    max-width: 100%;
    text-align: center;
  }

  .banner .tagline {
    display: flex;
  }
  .banner h1 {
    font-size: 35px;
    text-align: center;
  }

  .earth {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .banner p {
    display: inline-block;
    text-align: center;
    width: 70%;
  }
}

.spanColor {
  color: rgb(242, 59, 128);
}
