.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  min-width: 500px;
}

.wrap {
  margin: 0;
  padding: 0;
  display: block;
  min-height: 70px;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  color: rgb(242, 59, 128);
  transition: background-color 0.6s ease-in-out;
}

.banner .tagline:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgb(242, 59, 128);
  border: 1px solid white;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  min-height: 50px;
  font-family: Roboto;
}

.banner p {
  /* background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  ); */
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  color: rgba(0, 0, 0, 0.6);
}
